/* .table-responsive {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .card-body p {
    margin-bottom: 0.5rem;
  }

  .btn-sm {
    font-size: 0.75em;
    padding: 0.25rem 0.5rem;
  }
} */
